.yes-button {
    background-color: #000000;
    color: #FFFFFF;
}

.no-button {
    background-color: #FFFF00;
}

.yes-button, .no-button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}